@model Bookmarks.Web.InputModels.BookmarkInputModel
@{
    ViewBag.Title = "Create bookmark";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true) // don't show my exception from my properaties
                                 
    @Html.LabelFor(x => x.Title, new { @class = "col-md-2 control-label" });
    @Html.EditorFor(x => x.Title, new { @class = "form-control" });
    @Html.ValidationMessageFor(x => x.Title); 
    <br/>
    @Html.LabelFor(x => x.Url, new { @class = "col-md-2 control-label" });
    @Html.EditorFor(x => x.Url, new { @class = "form-control" });
    @Html.ValidationMessageFor(x => x.Url); 
    <br/>
    @Html.LabelFor(x => x.Description, new { @class = "col-md-2 control-label" });
    @Html.EditorFor(x => x.Description, new { @class = "form-control" });
    @Html.ValidationMessageFor(x => x.Description);
    <br />
    @Html.LabelFor(x => x.CategoryId, new { @class = "col-md-2 control-label" });
    @Html.DropDownListFor(x => x.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories);
    @Html.ValidationMessageFor(x => x.CategoryId);
    <br />
    <input type="submit" name="submit" value="Add Bookmark" class="btn btn-default" />
}

@*Javascript errors for create form*@

@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}